.landingImg {
    width: 100%;
    height: 100%;
    background-image: url('../../Components/Image/Bg_Huesos.png');
    background-position:fixed;
    background-size:cover;
    position:fixed;
  }
  
  .btn_home{
    background-color: #de744c;
    color: #f9f9f9;
    border: none;
    padding:  16px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,
  }

  .btn_home:hover{
    background-color: #bf8f6d
  }
  
  .title {
    font-family: "Dancing Script", cursive, sans-serif;
    text-shadow:5px 5px 5px #de744c;
    position: relative;
    top: 10%;
    left: 5%; 
    color:#0f0f0f;
    font-size: 2.5rem;
    font-weight: bold;
  }

 
    .text {
      font-family: "Dancing Script", cursive, sans-serif;
      font-size: 30px;
      line-height: 1.5;
      color:#0f0f0f;
      margin: 0;
      padding: 10px;
    }
