.dog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-to-home {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.input-name,
.min-height,
.max-height,
.min-weight,
.max-weight,
.life-span,
.image-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.temperaments-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-temperament {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container-button-add-dog {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-add-dog,
.button-cancel {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-add-dog:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-cancel {
  background-color: #e74c3c;
}
