.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.button_home {
  position: fixed;
  top: 15px;
  left: 25px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 100vh;
  margin: 0 auto;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.image_container {
  overflow: hidden;
  position: relative;
}

.image {
  width: auto !important;
  height: 95vh;
}

.data_container {
  padding-top: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  align-items: flex-start;
}

.info_card {
  margin: 15px 0;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.list_container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_container li {
  margin: 5px 0;
}

