.bg_image{
  background-image: url('../../Components/Image/Bg_Razas.jpg'); 
}

.main_container {

 padding: 20px;
}

.container_cards {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 57px;
}

.container_card {
  display: flex;
  justify-content: center;
}

/* Estilos para los mensajes de error */
.error_message {
  color: #ff0000; /* Color de mensaje de error */
  text-align: center;
  margin: 20px 0;
}

/* Estilos para el hr */
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Estilos para el fondo del componente */
body {
  background-color: #f0f7f4; /* Color de fondo pastel */
}